h1{
    color: blue
    background-color: darkgoldenrod (126, 21, 21);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: darkred;
    font-size: 16px;
}

main {
    color: darkblue;

}


body {
    background-color: goldenrod;
    border: red 2px solid;
    padding: 25px;
    margin: 0px;
    font-family: cursive;
}
